* {
    padding: 0;
    margin: 0;
    border: 0;
}

.conta {
    background-color: cadetblue;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    text-align: center;
}

footer {
    margin-top: 5vh ;
}
