* {
    padding: 0;
    margin: 0;
    border: 0;
}

input:focus {
    background-color: burlywood;
    padding: 5px;
    border: 5px solid blue;
}

form {
    background-color: cadetblue;
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
    text-align: center;
}

#map {
    width: 500px;
    height: 300px;
    border: 0;
}
#titulo {
    margin: 0 40% 0 40%;
    text-align: center;
    background-color: chartreuse;
    border-radius: 50px;
}

@media (max-width: 700px) {
    #titulo {
        margin: 0 35% 0 35%;
    }
    form {
        margin: 15px;
        padding: 15px;
    }
    #map {
        width: 250px;
        height: 150px;
        border: 0;
    }
}