* {
    margin: 0;
    padding: 0;
    border: 0;
}

#pedido {
    background-color: rgb(183, 160, 204);
    width: 450px;
    padding: 20px;
    margin: auto;
    border: 3px solid rgb(32, 128, 184);
    border-radius: 30px;
    margin-top: 30px;
    text-align: center;
}

.lista-sabores {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}

.sabor label img{
    width: 200px;
}

.sabor {
    border: teal 5px solid;
    background-color: rgb(73, 212, 212);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    align-items: center;
}

.sabor label img {
    border-radius: 50%;
}

@media (max-width: 700px) {
    #pedido {
        width: 300px;
    }
    .sabor label img{
        width: 80px;
    }
    .lista-sabores {
        grid-template-columns: 50% 50%; 
    }
}
