* {
    margin: 0;
    border: 0;
    padding: 0;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
    padding: 10px; 
}

table tr th {
    background-color: rgb(138, 43, 226);
}

tr:nth-child(even){
	background-color: #b543e2;
}

tr:nth-child(odd){
	background-color: rgb(120, 47, 143);
}

main {
    margin: 30px;
}

.footer {
    margin-top: 25%;
}