* {
    margin: 0;
    border: 0;
    padding: 0;
}

.box {
    background-color: gray;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.box-one {
    display: flex;
    justify-content: space-around;
}

ol li {
    list-style: none;
}

#imagem-pizza {
    width: 200px;
}

@media (max-width: 700px) {
    #imagem-pizza {
        width: 110px;
    }

    .box {
        font-size: 12px;
    }
}