* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background-color: red;
}
.top-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar ul li {
    display: flex;
}

.top-bar ul li a img{
    width: 90px;
}

.top-bar ul li:last-child {
    padding: 0 20px 0 0;
}

.top-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: row;
}

#img-blur {
    filter: blur(3px);
}
main {
    flex: 1;
    min-height: 69vh;
}
aside {
    flex: 10vw;
    background-color: violet;
    padding: 10px;
    color: white;
}
aside div img {
    width: 100%;
}
aside p {
    font-weight: bold;
    font-size: 20px;
}
.em-linha {
    display: flex;
    flex-direction: row;
}

.vasco {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 5px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.vasco p {
    color: green;
}

.footer {
    padding: 10px;
    background-color: rgb(165, 165, 165);
    display: flex;
    justify-content: space-between;
}
.footer ul li {
    list-style: none;
    display: inline;
    margin: 0 10px 0 0;
}
.footer ul li a img {
    width: 40px;
}
footer h1 {
    background-color: indigo;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

input[type=text], input[type=email], input[type=password], input[type=tel],
input[type=date],textarea, select, input[type=submit], input[type=reset] {
	background-color:lightgray;
    padding: 5px;
    margin: 5px;
    width: 95%;
}

.chat {
    background-color: lightgray;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    width: 300px;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 10px;
    bottom: 10px;
    justify-content: space-between;
}
.chat div span {
    font-size: 25px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 1px;
}

#maxChat {
    display: none;
}

@media (max-width: 700px) {  
    .top-bar ul li a{
        font-size: 15px;
        display: inline;
    }
    .top-bar ul li a img{
        width: 35px;
    }
    .footer h1{
        font-size: 10px;
    }
    .footer ul li a img{
        width: 20px;
    }
    #img-blur {
        filter: blur(3px);
    }
    /* ------------------------------------------------ */
    main {
        
    }
    aside {
        flex: 10vw;
        background-color: violet;
        padding: 10px;
        color: white;
    }
    .em-linha {
        display: flex;
        flex-direction: row;
    }
    
    .vasco {
        border-radius: 20px;
        background-color: white;
        color: black;
        padding: 5px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .vasco p {
        color: green;
    }
}